.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marker {
    margin: 10px auto;
    width: 200px;
    height: 25px;
}

.red {
    background: linear-gradient(rgb(150, 0, 0), rgba(250, 0, 0), rgba(185, 0, 0));
    box-shadow: 0 0 20px 0 rgb(231, 35, 35);
}

.green {
    background: linear-gradient(rgb(0, 150, 0), rgb(0, 250, 0), rgb(0, 158, 0));
    box-shadow: 0 0 20px 0 rgb(70, 250, 70);
}

.blue {
    background: linear-gradient(rgb(0, 0, 150), rgb(0, 0, 250), rgb(0, 0, 158));
    box-shadow: 0 0 20px 0 rgb(50, 50, 201);
}


.marker div {
    display: inline-block;
}


.cap {
    width: 70px;
    height: 25px;
    /* background-color: black; */
}

.sleeve {
    width: 100px;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    border-left: 10px double black;
}